<div id="login-display-panel">
  {{#if currentPlayer.curPlayer}}
    {{#link-to 'players.player' currentPlayer.curPlayer.id }}
      Hello, {{currentPlayer.curPlayer.username}}
    {{/link-to}}
  {{else}}
    {{#link-to 'login'}}
      Login/Register
    {{/link-to}}
  {{/if}}

<div id="player-avatar" class="">
  {{#unless currentPlayer.curPlayer}}
    <img src="../../images/blankavatar.gif" alt="blank avatar">
  {{else}}
    {{#if currentPlayer.curPlayer.avatar}}
      <img src={{currentPlayer.curPlayer.avatar}} alt="player avatar">
    {{else}}
      <img src="../../images/blankavatar.gif" alt="blank avatar">
    {{/if}}
  {{/unless}}
</div>


</div>
