<button {{action 'toggleForm'}} class="button-custom">Add Session</button>

{{#if isShowingModal}}
  {{#modal-dialog close='toggleForm'
    targetAttachment="center"
    translucentOverlay=true
    container-class="wider"
    }}
    <form class='small-form' {{action 'newSession' on='submit'}}>
      <div class="form-group">
        <label for="date">Session date:</label>
        {{input value=date type='date' required='required' class="form-control"}}
      </div>
      <div class="form-group">
        <label for="title">Choose a title</label>
        {{input value=title required='required' class="form-control" maxlength="24"}}
      </div>
      <div class="form-group">
        <label for="info">Additional info:</label>
        {{input value=info class="form-control"  maxlength="240"}}
      </div>
      <button class="button-custom">Add Session</button>
    </form>
  {{/modal-dialog}}
{{/if}}
