<h1>{{player.username}}</h1>
<h2>{{player.name}}</h2>
{{#if isPlayer}}
  <button class="btn btn-warning" {{action 'logoutPlayer'}}>Log Out</button>
  {{update-player player=player updatePlayer='updatePlayer'}}
  <button class="btn btn-danger" {{action 'deletePlayer' player}}>Delete Profile</button>
{{/if}}
{{#if player.games_owned}}
<h3>Games Owned</h3>
  <ul>
    {{#each player.games_owned as |game|}}
      <li>{{game.name}}</li>
    {{/each}}
  </ul>
{{/if}}
