<div class="outer-box">
  <div class="banner">
    <h1>{{moment-format session.date 'LL'}}</h1>
    <h2>{{session.title}}</h2>
  </div>
  <div id="picture-container">
    <img class="session-image" src="../../images/cards.jpg">
    <div id="imagetext">
      <p>{{session.info}}</p>
    </div>
  </div>


  {{#if currentPlayer.curPlayer}}
    {{attend-session session=session attendSession='attendSession' unattend='unattend'}}
  {{/if}}


  <div class="banner">

    <h2>Players Attending: </h2>
  </div>
  <div class="inner-box">
    <p>
      {{#each session.players_attending as |player|}}
        {{#link-to 'players.player' player.id}}{{player.username}}{{/link-to}}
      {{/each}}
    </p>
  </div>
  <div class="banner">
    <h2>Games:</h2>
  </div>
  <div class="inner-box">
    <div class="row">
      <div class="col col-sm-6">
        <h3>Being Brought:</h3>
        <p>
          {{#each session.games_being_brought as |game|}}
            <h5>
              {{#link-to 'games.game' game.id game.api_id}}{{game.name }}{{/link-to}}
              <button class="glyphicon glyphicon-remove" {{action 'notBringing' game session}}></button>
            </h5>
          {{/each}}
        </p>
      </div>
      <div class="col col-sm-6">
        <h3>Requested:</h3>
        <p>
          {{#each session.games_requested as |game|}}
            <h5>{{#link-to 'games.game' game.id game.api_id}}{{game.name }}{{/link-to}}</h5>
          {{/each}}
        </p>
      </div>
    </div>
  </div>
</div>









{{!-- {{update-session session=session updateForm='updateForm'}} --}}
