<h1>{{session.title}}</h1>
<h2>{{moment-format session.date 'LL'}}</h2>
<p>
  {{session.info}}
</p>
<button class="btn btn-danger" {{action 'delete' session}}>Delete event</button>
{{update-session session=session updateForm='updateForm'}}
