<div class="outer-box">
  <div class="banner">
    <h1>{{moment-format session.date 'LL'}}</h1>
    <h2>{{session.title}}</h2>
  </div>
  <img class="session-image" src={{session.image_url}} alt="image for this session">
  <div id="imagetext">
    <p>{{session.info}}</p>
  </div>
  <div class="banner">
    <h2>Players Attending:</h2>
  </div>
  <div class="inner-box">
    <p>
      dummy dummy dummy
    </p>
  </div>
  <div class="banner">
    <h2>Games:</h2>
  </div>
  <div class="inner-box">
    <div class="row">
      <div class="col col-sm-6">
        <h3>Being Brought:</h3>
        <p>
          dummy dummy dummy
        </p>
      </div>
      <div class="col col-sm-6">
        <h3>Requested:</h3>
        <p>
          dummy dummy dummy
        </p>
      </div>
    </div>
  </div>
</div>









{{!-- {{update-session session=session updateForm='updateForm'}} --}}
