{{#if updatePlayerShow}}
  <form class='small-form' {{action 'updatePlayer' player on='submit'}}>
    <div class="form-group">
      <label for="name">Name:</label>
      {{input value=name class="form-control" placeholder=player.name}}
    </div>
    <div class="form-group">
      <label for="password">Change password:</label>
      {{input value=password class="form-control" type='password'}}
    </div>
    <button class="btn btn-success center-block">Save Updates</button>
  </form>
{{else}}
  <button {{action 'showForm'}} class="btn btn-info">Update Profile</button>
{{/if}}
